/* global */

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Oxanium', cursive;
    background-color: transparent;
    user-select: none;
    scroll-behavior: smooth;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-j-center {
    justify-content: center;
}

.flex-a-center {
    align-items: center;
}

.flex-j-between {
    justify-content: space-between;
}

.fixed-x-padding {
    padding-right: 5% !important;
    padding-left: 5% !important;
}

.fixed-y-padding {
    padding-top: 40px !important;
    padding-bottom: 40px !important;
}

.fixed-section-padding {
    padding-top: 3vh !important;
    padding-bottom: 3vh !important;
}


.upnormal-text,
.upnormal-text * {
    font-family: 'Poppins' !important;
}


/* start header */

header {
    width: 100%;
    height: 100vh;
}

/* upper nav */

.upper-nav {
    background-color: #171718;
    color: #fff;
    font-size: 14px;
    padding: 10px;
    text-transform: capitalize;
    box-shadow: 0px 0px 15px #000, 0px 0px 5px #000;
    position: relative;
    z-index: 100;
    border-bottom: solid 3px #e01c1f;
}

.upper-nav span i {
    margin-right: 5px;
}

.upper-nav .location {
    gap: 30px;
}

.upper-nav .location a {
    color: #e01c1f;
    margin-left: 5px;
    font-weight: bold;
    border-bottom: solid 1px #cfcfcf;
    padding-bottom: 3px;
}

.upper-nav .follow {
    gap: 10px;
}

.upper-nav .follow .social-icon {
    gap: 15px;
}


.upper-nav .follow .social-icon a {
    color: #e01c1f;
    display: block;
    width: 30px;
    aspect-ratio: 1/1;
    background-color: #515153;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    box-shadow: inset 0px 0px 15px #000000b7;
}

.upper-nav .follow .social-icon a:hover {
    background-color: #171718;
}

/* nav */

nav {
    background-color: #171718;
    padding: 15px;
    box-shadow: 0px 0px 25px #000, 0px 0px 15px #000;
    position: relative;
    z-index: 11;
}

nav .logo img {
    width: 90px;
    filter: drop-shadow(0px 0px 10px #fff);
}

nav .join-btn {
    background-color: #e01c1f;
    color: #fff;
    font-weight: bold;
    padding: 7px 30px;
    border-radius: 3px;
    transition: .3s;
}

nav .join-btn:hover {
    background-color: #f82124;
    box-shadow: inset 0px 0px 20px #000000b9;
}

nav .taps {
    text-transform: capitalize;
    transition: .4s;
}

nav .taps li {
    position: relative;
}

nav .taps a {
    display: block;
    padding: 7px 15px;
    color: #f0f0f0;
    position: relative;
    z-index: 2;
    text-transform: capitalize;
}

nav .taps li::after {
    content: "";
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translateX(-50%) skew(-20deg);
    background-color: #e01c1f;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: .3s;
    transition-delay: .2s;
}

nav .taps li:hover::after {
    opacity: 1;
    transition-delay: 0s;
}

nav .taps i {
    margin-right: 5px;
}

.s-h-btn {
    cursor: pointer;
    color: #fff;
    background-color: #e01c1f;
    width: 30px;
    aspect-ratio: 1/1;
    border-radius: 3px;
    font-size: 18px;
    line-height: 20px;
    display: none;
}

nav .close-taps {
    position: fixed;
    color: #e01c1f;
    top: 5%;
    right: 5%;
    z-index: 222;
    font-size: 30px;
    cursor: pointer;
    transform: translateX(200px);
    transition: .4s;
}

/* main */

main {
    flex-grow: 1;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 0px 10px #000;
    z-index: 2;
}

main .slide {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #000;
    display: none;
}

main .slide.active {
    display: flex;
}

main .slide::after {
    content: " ";
    background-color: #0000009e;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
}

main .slide img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: 0% 20%;
    position: relative;
    animation: slideImg .4s linear 0s 1 forwards;
    opacity: 0;
}

@keyframes slideImg {
    to {
        opacity: 1;
    }
}

main .slide .banner {
    height: 70%;
    width: 60%;
    position: absolute;
    top: 0%;
    left: 0px;
    z-index: 21;
}

main .slide .banner h1 {
    color: #f82124;
    margin-bottom: 20px;
    font-size: calc(30px + 1vw);
    text-shadow: 0px 0px 7px #000;
    text-transform: capitalize;
    opacity: 0;
    animation: slideImg .6s linear .7s 1 forwards;
}

main .slide .banner p {
    color: #fff;
    opacity: 0;
    animation: slideImg .6s linear 1.4s 1 forwards;
}

main .slide .banner a {
    background-color: #e01c1f;
    color: #fff;
    width: fit-content;
    padding: 7px 20px;
    display: block;
    margin-top: 20px;
    border-radius: 3px;
    text-transform: uppercase;
    opacity: 0;
    animation: slideImg .6s linear 2s 1 forwards;
}

main .slide .banner a:hover {
    background-color: #f82124;
    box-shadow: inset 0px 0px 20px #00000094;
}

main .controller-slides {
    position: absolute;
    bottom: 0px;
    height: 30%;
    width: 100%;
    border-top: solid 3px #e01c1f;
    background-color: #000000a4;
    backdrop-filter: blur(6px);
}

main .controller-slides .slide-btn {
    color: #fff;
    width: calc(100% / 3);
    gap: 20px;
    text-transform: capitalize;
    cursor: pointer;
}

main .controller-slides .slide-btn * {
    opacity: .4;

}

main .controller-slides .slide-btn:hover * {
    letter-spacing: 2px;
    opacity: 1;

}

main .controller-slides .slide-btn p {
    transition: .4s;
}

main .controller-slides .slide-btn span {
    display: block;
    width: 40px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: solid 2px #e01c1f;
    text-align: center;
    line-height: 36px;
    color: #e01c1f;
    font-weight: bold;
}

main .controller-slides .slide-btn:nth-child(2) {
    border-right: solid 2px #e01c1f;
    border-left: solid 2px #e01c1f;
}

main .controller-slides .slide-btn.active * {
    opacity: 1;
    letter-spacing: 2px;
}

/* offers */

.offers {
    background-image: url(../imgs/wall.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    box-shadow: 0px 0px 15px #000;
    z-index: 2;
}

.offers::after {
    content: "";
    background-color: #00000080;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
}

h2 {
    color: #5c5b5b;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    position: relative;
    z-index: 2;
}

.offers-con,
.coach-con,
.top-con {
    gap: 30px;
    position: relative;
    z-index: 23;
    margin-top: 40px;
    flex-wrap: wrap;
}

.offers-con .card,
.coach-con .card,
.top-con .card {
    width: calc((100% - 90px) / 4);
    position: relative;
    border-radius: 7px;
    overflow: hidden;
    box-shadow: 5px 10px 20px #000000, -1px -1px 10px #80808034;
}

.offers-con .card::after {
    content: " ";
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #00000081;
    transition: .3s;
}

.offers-con .card:hover::after {
    background-color: #000000c4;
    backdrop-filter: blur(6px);
}

.offers-con .card a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0px;
    z-index: 40;
}

.offers-con .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
    transition: .3s;
}

.offers-con .card:hover img {
    transform: scale(1.2);
}

.offers-con .card .info {
    position: absolute;
    bottom: 0%;
    left: 0%;
    background-color: #000000ae;
    width: 100%;
    color: #5c5b5b;
    z-index: 22;
    padding: 10px 15px;
    transition: .4s;
}

.offers-con .card:hover .info {
    backdrop-filter: blur(20px);
    box-shadow: 0px 0px 10px #1b0000;
}

.offers-con .card .info .name {
    font-size: 27px;
    margin-bottom: 4px;
    color: #fff;
    text-transform: capitalize;
}

.offers-con .card .info .price {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 0px 0px 10px #000;
}

.offers-con .card .info .price span {
    color: #e01c1f;
}


/* coachs */

.coachs {
    background-color: #0a0a0a;
position: relative;
box-shadow: 0px 0px 10px #000,0px 0px 15px #000,0px 0px 10px #000;
}

.coach-con .card,
.top-con .card {
    padding: 2.3%;
    background-color: #111010;
    box-shadow: 3px 3px 10px #000000, -1px 0px 10px #80808034, inset 0px 0px 10px #000000d7;
}

.coach-con .card img,
.top-con .card img {
    width: 100%;
    border-radius: 8px;
    box-shadow: 3px 3px 7px #000000, -2px -2px 5px #80808034;
}

.coach-con .card .coach-info,
.top-con .card .top-info {
    margin-top: 10px;
}

.coach-con .card .coach-info .name,
.top-con .card .top-info .name {
    color: #5c5b5b;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 18px;
}

.coach-con .card .coach-info a,
.top-con .card .top-info a {
    color: #e01c1f;
    width: 35px;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #111010;
    box-shadow: 3px 3px 10px #000000, -2px -2px 5px #80808034;
}

.coach-con .card .coach-info a:hover,
.top-con .card .top-info a:hover {
    background-color: #0d0d0d;
}

/* top */

.top {
    background-color: #5b0608;
}

.top h2 {
    color: #fff;
}

.top-con .card {
    width: calc((100% - 60px)/3);
}
/* res */

@media (min-width : 0px) and (max-width : 600px) {
    .offers-con .card {
        width: 100% !important;
        aspect-ratio: 1/1.3;
    }

    .coach-con .card,.top-con .card {
        width: 100% !important;
        padding: 6.6%;
    }
}

@media (min-width : 601px) and (max-width : 992px) {
    .offers-con .card {
        width: calc((100% - 60px)/2) !important;
        aspect-ratio: 1/1.3;
    }

    .coach-con .card,.top-con .card {
        width: calc((100% - 60px)/2) !important;
        padding: 3.4%;
    }
}

@media (min-width : 0px) and (max-width : 900px) {
    .upper-nav {
        display: none;
    }
}

@media (min-width : 0px) and (max-width : 880px) {
    nav .taps {
        flex-direction: column;
        position: fixed;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        background-color: #000;
        padding-top: 40px;
        transform: translateX(-100%);
    }

    .s-h-btn {
        display: block;
    }
}


@media (min-width : 0px) and (max-width : 800px) {
    .banner {
        width: 100% !important;
        text-align: center;
    }

    .banner a {
        margin: 0px auto;
    }

    main .slide-btn {
        flex-direction: column;
    }
}

@media (min-width : 0px) and (max-width : 400px) {
    main .controller-slides {
        flex-direction: column;
    }

    main .slide-btn {
        flex-direction: row;
        width: 100% !important;
        justify-content: flex-start;
        margin: auto;
        padding: 0px 60px;
    }

}